<h1>New Article</h1>
<% if @article.errors.any? %>
    <div class="error_explanation" id="error_explanation">
        <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
        <ul>
            <% @article.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>
<%= form_for :article, url: articles_path do |form_builder| %>
    <p>
        <%= form_builder.label :title %><br>
        <%= form_builder.text_field :title %>
    </p>

    <p>
        <%= form_builder.label :text %><br>
        <%= form_builder.text_area :text %>
    </p>

    <p>
        <%= form_builder.submit %>
    </p>
<% end %>
<%= link_to 'Back', articles_path %>